.card{
    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    min-width: 200px;
    min-height: 200px;
}